<?xml version="1.0"?>
<!--
/**
 * VirtualPayer_FdmsEMEAconnect extension
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 * @category   VirtualPayer
 * @package    VirtualPayer_FdmsEMEAconnect
 * @copyright  Copyright (c) 2016 VirtualPayer
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>
	<modules>
		<VirtualPayer_FdmsEMEAconnect>
			<version>1.0.0</version>
		</VirtualPayer_FdmsEMEAconnect>
	</modules>
	<global>
		<models>
			<fdmsemeaconnect>
				<class>VirtualPayer_FdmsEMEAconnect_Model</class>
                <resourceModel>fdmsemeaconnect_mysql4</resourceModel>
			</fdmsemeaconnect>
            <fdmsemeaconnect_mysql4>
                <class>VirtualPayer_FdmsEMEAconnect_Model_Mysql4</class>
                <entities>
                    <fdmsemeaconnect>
                        <table>fdmsemeaconnect</table>
                    </fdmsemeaconnect>
                </entities>
            </fdmsemeaconnect_mysql4>
		</models>
		<blocks>
			<fdmsemeaconnect>
				<class>VirtualPayer_FdmsEMEAconnect_Block</class>
			</fdmsemeaconnect>
		</blocks>
		<helpers>
			<fdmsemeaconnect>
				<class>VirtualPayer_FdmsEMEAconnect_Helper</class>
			</fdmsemeaconnect>
		</helpers>
		<resources>
			<fdmsemeaconnect_setup>
				<setup>
					<module>VirtualPayer_FdmsEMEAconnect</module>
					<class>VirtualPayer_FdmsEMEAconnect_Model_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</fdmsemeaconnect_setup>
			<fdmsemeaconnect_write>
				<connection>
					<use>core_write</use>
				</connection>
			</fdmsemeaconnect_write>
			<fdmsemeaconnect_read>
				<connection>
					<use>core_read</use>
				</connection>
			</fdmsemeaconnect_read>
		</resources>
		<payment>
			<cc>
				<types>
					<VI>
						<code>VI</code>
						<name>Visa</name>
						<order>0</order>
					</VI>
					<MC>
						<code>MC</code>
						<name>MasterCard</name>
						<order>100</order>
					</MC>
					<AM>
						<code>AM</code>
						<name>American Express</name>
						<order>200</order>
					</AM>
				</types>
			</cc>
		</payment>
	</global>
	<frontend>
		<routers>
			<fdmsemeaconnect>
				<use>standard</use>
				<args>
					<module>VirtualPayer_FdmsEMEAconnect</module>
					<frontName>fdmsemeaconnect</frontName>
				</args>
			</fdmsemeaconnect>
		</routers>
		
		<layout>
			<updates>
				<fdmsemeaconnect>
					<file>fdmsemeaconnect.xml</file>
				</fdmsemeaconnect>
			</updates>
		</layout>
	</frontend>

	<adminhtml>
		<!--<routers>
			<fdmsemeaconnect>
				<use>admin</use>
				<args>
					<module>VirtualPayer_FdmsEMEAconnect</module>
					<frontName>fdmsemeaconnect</frontName>
				</args>
			</fdmsemeaconnect>
		</routers>-->
		<menu>
			<sales module="sales">
				<children>
					<fdmsemeaconnect module="fdmsemeaconnect">
						<title>FDMS Connect Transactions</title>
						<sort_order>300</sort_order>
						<action>fdmsemeaconnect/adminhtml_fdmsemeaconnect</action>
					</fdmsemeaconnect>
				</children>
			</sales>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<sales>
							<children>
								<fdmsemeaconnect>
									<title>FDMS Connect Transactions</title>
									<sort_order>10</sort_order>
								</fdmsemeaconnect>
							</children>
						</sales>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<fdmsemeaconnect>
					<file>fdmsemeaconnect.xml</file>
				</fdmsemeaconnect>
			</updates>
		</layout>
	</adminhtml>
	<default>
		<payment>
			<fdmsemeaconnect>
				<active>0</active>
				<title>First Data EMEA Connect Payment Gateway</title>
				<model>fdmsemeaconnect/redirect</model>
				<order_status>processing</order_status>
				<payment_action>authorize</payment_action>
			</fdmsemeaconnect>
		</payment>
	</default>
</config>